{% extends 'base.html.twig' %}

{% block title %}Virement
{% endblock %}

{% block body %}

	<div class="container">
		<div class="d-flex justify-content-center border border border-dark rounded p-4">
			<div class="col-12 col-md-8 ">
				<h1>Virement</h1>
				{% if validation_user %}

					<div>

						<form method="post" action="{{ path('virement')}}">
							<div>
								{{ form_start(form) }}
								{{ form_errors(form) }}
								{{ form_row(form.choixBank, {'label': 'Choix du compte', 'required' : true}) }}

								<div class = "pb-2">
									{{ form_row(form.choixBeneficiary, {'label': 'Choix du bénéficiare', 'required' : true}) }}

									<a href="{{ path('create_beneficiary')}}" id="add" name="add" class="btn btn-success">Ajouter un bénéficiaire</a>
								</div>


								{{ form_row(form.description, {'label': 'Description', 'required' : true,'attr': {'placeholder':'Description du virement'}}) }}
								{{ form_row(form.debit, {'label': 'Montant du virement', 'required' : true, 'attr': {'placeholder':'0.00'}}) }}
								{{ form_end(form) }}
								<button type="submit" class="btn btn-success">Valider</button>
								<a href="{{ path('virement')}}" id="cancel" name="cancel" class="btn btn-danger">Cancel</a>

							</div>


						</form>
					</div>
				{% endif %}

				{% if not validation_user %}

					<p>Votre conseiller bancaire n'a pas encore valider votre compte, veuillez patienter</p>

				{% endif %}
			</div>
		</div>


	</div>

{% endblock %}
