{% extends 'base.html.twig' %}

{% block title %}Virement
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Virement</h1>

		<div>

			<form method="post" action="{{ path('virement')}}">
				{{ form_start(form) }}

				{{ form_row(form.choixBank) }}


				<div>

					{{ form_row(form.description, {'label': 'Description','attr': {'placeholder':'Description du virement'}}) }}
					{{ form_row(form.debit, {'label': 'Montant', 'required' : true, 'attr': {'placeholder':'Montant du virement'}}) }}
					{{ form_end(form) }}
					<button type="submit" class="btn btn-success">Valider</button>
					<a href="{{ path('virement')}}" id="cancel" name="cancel" class="btn btn-default">Cancel</a>

				</div>


			</form>
		</div>


	</div>

{% endblock %}
