{% extends 'base.html.twig' %}

{% block title %}Ajout bénéficiaire
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Ajout d'un bénéficiaire</h1>

		{{ form_start(form) }}

		{{ form_row(form.name, {'label': 'Nom','attr': {'placeholder':'Entrer le nom du bénéficiare'}}) }}
		{{ form_row(form.lastName, {'label': 'Prénom','attr': {'placeholder':'Entrer le prénom du bénéficiare'}}) }}

		<button type="submit" class="btn btn-success">Valider</button>
		<a href="{{ path('create_beneficiary')}}" id="cancel" name="cancel" class="btn btn-default">Cancel</a>
		{{ form_end(form) }}

	</div>
{% endblock %}
