{% extends 'base.html.twig' %}

{% block title %}Ajout d'un bénéficiaire
{% endblock %}

{% block body %}
	<div class="container">
		<div class="d-flex justify-content-center border border border-dark rounded p-4">
			<div class="col-12 col-md-8">
				<h1>Ajout d'un bénéficiaire</h1>
				{% if validation_user %}


					{{ form_start(form) }}
					{{ form_errors(form) }}

					{{ form_row(form.name, {'label': 'Nom', 'required' : true ,'attr': {'placeholder':'Entrer le nom du bénéficiare'}}) }}
					{{ form_row(form.lastName, {'label': 'Prénom', 'required' : true ,'attr': {'placeholder':'Entrer le prénom du bénéficiare'}}) }}
					<!-- Button trigger modal -->


					<button type="submit" class="btn btn-success">
						Valider</button>

					<a href="{{ path('listeCompte')}}" id="cancel" name="cancel" class="btn btn-danger">Annuler</a>
					{{ form_end(form) }}
				{% endif %}

				{% if not validation_user %}

					<p>Votre conseiller bancaire n'a pas encore valider votre compte, veuillez patienter</p>

				{% endif %}

			</div>
		</div>
	</div>


{% endblock %}
